
.backnumber{
  padding: 0.5%;
}
.backnumber a{
  padding-right: 1%;
  padding-left: 1%;
  font-size: 120%;
}
table.nikocale{
  border: solid 1px #e4e4e4;
  border-collapse: collapse;
}
table.calender{
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-left: solid 1px #e4e4e4;
  border-collapse: collapse;
}
table.nikocale th{
  background-color:#EEEEEE;
}
table.nikocale th.username{
  width: 15%;
  background-color:#EEEEEE;
}
table.nikocale td{
  padding: 0;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
table.calender td{
  padding: 0;
  border-right: solid 1px #eeeeee;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.comment{
	width: 90%;
}
.saturday{
  color: #0000FF;
}
.sunday{
  color: #FF0000;
}
table.feeling{
  width: 40%;
  text-align: center;
}
span.responseinfo{
  font-size: 80%;
  color: #808080;
}
.team_row{
  background-color: #F8F8A0;
}


