
.backnumber{
  padding: 0.5%;
}
.backnumber a{
  padding-right: 1%;
  padding-left: 1%;
  font-size: 120%;
}
table.nikocale{
  border: solid 1px #e4e4e4;
  border-collapse: collapse;
}
table.calender{
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-left: solid 1px #e4e4e4;
  border-collapse: collapse;
}
table.nikocale th{
  background-color:#EEEEEE;
}
table.nikocale th.username{
  width: 15%;
  background-color:#EEEEEE;
}
table.nikocale td{
  padding: 0;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
table.calender td{
  padding: 0;
  border-right: solid 1px #eeeeee;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.saturday{
  color: #0000FF;
}
.sunday{
  color: #FF0000;
}
.arrow_box{
  display: none;
  position: absolute;
  width: 100px;
  padding: 6px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #F8F8A0;
  text-align: left;
}
.arrow_box:after{
  position: absolute;
  bottom: 100%;
  left: 30%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #F8F8A0;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
span:hover + .arrow_box{
  display: block;
}
span.responseinfo{
  font-size: 80%;
  color: #808080;
}
.team_row{
  background-color: #F8F8A0;
}


