
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "index.css", :plugin => "redmine_nikoca_re" %>
<% end %>

<table class="nikocale">
  <thead>
    <tr>
      <th class="username">ユーザ名</th>
      <th>
        <table class="calender">
        <tr>
        <% @days.each do |date| %>
          <% date_tag(date, @days[0] == date) %>
        <% end %>
        </tr>
        </table>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="yyy"><%= link_to_user(user) %></td>
        <td class="yyy">
          <table class="calender">
          <tr>
          <% @days.each do |date| %>
            <td><% link_comment_face_tag(@project, @niko_faces[user.name][date.day]) %></td>
          <% end %>
          </tr>
          </table>
        </td>
      </tr>
    <% end %>
    <tr class="team_row">
      <td><%= l(:team_feeling) %></td>
      <td>
        <table class="calender">
        <tr>
        <% @days.each do |date| %>
          <td><% concat(feeling_tag(@team_feelings[date.day])) %></td>
        <% end %>
        </tr>
        </table>
      </td>
    </tr>
</table>


