<h2>本日の気分</h2>

<%= form_for @niko_face, :url => project_niko_face_path(@project), :html => {:id => 'edit'} do |f| %>
  <%= render :partial => 'niko_faces/form', :locals => {:form => f} %>
  <%= f.submit l(:button_edit) %>
<% end %>
