<div class="contextual">
    <%= link_to_if_authorized(l(:label_conditions_new), 
                                {:action => 'new', :project_id => @project}, 
                                :class => 'icon icon-add') %>
</div>

<h2>ニコニコカレンダー</h2>
<div class="backnumber">
  <%= link_to('<< 古いカレンダーへ', project_niko_faces_backnumber_path(@project, 1)) %>
</div>

<%= render :partial => 'niko_faces/calender' %>
